ul.dropdown-menu {
	padding:0;
	width:100%;
	min-width:190px;
	li {
		width:100%;
		height:40px;
		a {
			width:100%;
			line-height:40px;
			height:40px;
			color:$text-color;
			background:$text-color-lighter;
			.fa {
				width:18px;
				color:$text-color;
			}
			&:hover, &:focus {
				background:$text-color-lighter;
				.fa {
					color:$brand-primary;
				}
			}
		}
	}
}

.sidebar-nav {
	li {
		//background:$text-color-lighter;
		background:$custom-gray;
		font-weight:700;
		position:relative;
		//border-bottom: 1px solid #e7e7e7;
		&.active {
			//background-color: #eee;
			a:before {
				content:"";
				height:100%;
				position:absolute;
				width:5px;
				left:-5px;
				background:$brand-primary;
				top:0;
			}
			.nav-second-level a:before {
				display:none;
			}
			.icon:before { 
		    	content: "\f068";
		    	font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			    font-size:12px;
		    }
		}
		a {
			color:$text-color;
			position:relative;
			padding:15px 15px 15px 45px;
			&:hover, &:focus, &.active {
				color:$brand-primary;
				background:$custom-gray;
			}
			i {
				margin-right:15px;
				font-size:18px;
				position:absolute;
				left:15px;
				top:14px;
			}
		}
	}
	#collapse-menu {
		//background:$white;
		background:$custom-gray;
		border:none;
		cursor:pointer;
		padding:13px 15px;
		font-weight:300;
		i {
			margin-right:15px; 
		}
	}
	.icon { 
	    float: right;
	    &:before { 
	    	content: "\f067";
	    	font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    font-size:12px;
	    }
	}
	.nav-second-level {
		z-index:99 !important;
	}
	.nav-second-level li {
		background:$custom-gray;
		border-bottom: 0!important;
		a {
			font-weight:500;
			padding-left: 45px;
		}
	}
	.nav-third-level li {
		border-bottom: 0!important;
		a {
	    	padding-left: 60px;
		}
	}
	.sidebar-search {
		//background:$white;
		background:$custom-gray;
		font-weight:500;
		padding: 15px;
		input {
			border:none;
			color:$text-color;
			background:none;
			-webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    -o-box-shadow: none;
		    box-shadow: none;
		    font-size:14px;
		}
		.btn {
			background:none;
			padding:0;
			margin:0;
			border:0;
			box-shadow:none;
			&:hover, &:focus {
				color:$brand-primary;
			}
		}
	}
}